@charset "utf-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

html, body {
    height: 100%;
    background: #151515;
    font-family: Poppins;
}

.app-bar {
    background: #030b00;
    padding: 15px;
}

.app-bar span {
    background: #ffcc00;
    padding: 5px;
    font-size: 13px;
    border-radius: 4px;
    color: green;
    font-weight: 500;
    cursor: pointer;
}

.menu-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.2);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

.menu-popup .c {
    width: 100%;
    max-width: 600px;
    background: #151515;
    padding: 20px;
}

.menu-popup .c .t {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.app-content {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
}

.app-content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.app-content .header .left-arrow {
    color: #fff;
    font-size: 24px;
}

.app-content .header .logo img {
    max-width: 140px;
    position: relative;
    top: 15px;
}

.sliders {
    margin-top: 30px;
}

.slider-contents {
    margin-top: 30px;
    overflow: hidden;
}

.sliders .menu-tab {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sliders .menu-tab span {
    padding: 10px;
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
    font-weight: 600;
}

.sliders .menu-tab span.active {
    color: #ffcc00;
    border-bottom: solid 1px #ffcc00;
}

.sliders img {
    max-width: 100%;
    border-radius: 4px;
}

.sliders .name {
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: relative;
    min-height: 40px;
}

.sliders .swiper-slide-active .name {
    color: #ffcc00;
}

.tabs-buttons .swiper-wrapper > .swiper-slide-active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: -5px;
    background: #ffcc00;
}

.category-content {
    color: #fff;
}

.category-title {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.24);
    text-align: center;
}

.category-item {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.24);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.category-item .text-1 {
    color: rgba(255, 255, 255, 0.74);
    font-size: 14px;
    font-weight: 600;
}

.category-item .text-2 {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 14px;
}

.category-item .text-3 {
    margin-top: 10px;
    color: #ffcc00
}

.sliders-i {
    display: none;
}

.sliders-i.slider-1 {
    display: block;
}

.detail-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
}

.detail-popup.active {
    opacity: 1;
    visibility: visible;
}

.detail-popup .img {
    height: 300px;
    position: relative;
}

.detail-popup .back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 40;
}

.detail-popup .back .c {
    width: 100%;
    max-width: 1024px;
    margin: 30px auto;
}

.detail-popup .back .c span {
    background: #ffcc00;
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 4px;
    color: green;
    font-weight: 500;
    cursor: pointer;
}

.detail-popup .img img {
    width: 100%;
    object-fit: cover;;
}

.detail-popup .desc {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    background: #151515;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    color: #fff;
    position: relative;
    top: -30px;
    border-radius: 4px;
}

.detail-popup .desc .text-1 {
    font-size: 25px;
    font-weight: 600
}

.detail-popup .desc .text-2 {
    font-size: 14px;
    margin: 20px 0;
}

.detail-popup .desc .text-3 {
    color: #ffcc00;
    font-size: 20px;
}

@media ( max-width: 1024px ){
    .app-content {
        padding: 15px;
    }
    .sliders .name {
        font-size: 12px;
    }
}